<%= error_messages_for 'repository' %>

<div class="box tabular">
<p>
<%= label_tag('repository_scm', l(:label_scm)) %><%= scm_select_tag(@repository) %>
<% if @repository && ! @repository.class.scm_available %>
  <em class="info error"><%= l(:text_scm_command_not_available) %></em>
<% end %>
</p>

<p><%= f.check_box :is_default, :label => :field_repository_is_default %></p>
<p>
<%= f.text_field :identifier, :disabled => @repository.identifier_frozen? %>
<% unless @repository.identifier_frozen? %>
  <em class="info">
    <%= l(:text_length_between, :min => 1, :max => Repository::IDENTIFIER_MAX_LENGTH) %> <%= l(:text_repository_identifier_info).html_safe %>
  </em>
<% end %>
</p>

<% button_disabled = true %>
<% if @repository %>
  <%  button_disabled = ! @repository.class.scm_available %>
  <%= repository_field_tags(f, @repository) %>
<% end %>
</div>

<p>
  <%= submit_tag(@repository.new_record? ? l(:button_create) : l(:button_save), :disabled => button_disabled) %>
  <%= link_to l(:button_cancel), settings_project_path(@project, :tab => 'repositories') %>
</p>


<% base_path = Setting.plugin_repository_creator[:base_paths][@repository.scm_name] %>
<% separator = Setting.plugin_repository_creator[:separator] %>

<script type="text/javascript">
$( document ).ready(function() {
  var path = '<%= File.expand_path @project.identifier, base_path %>';
  $('#repository_url').prop('readOnly', true);
  $('#repository_path_encoding').prop('disabled', true);  

  $('#repository_url').val(path);
  $('#repository_identifier').on('input', function (target) {
    if ($(this).val().length > 0) {
      $('#repository_url').val(path + '<%= separator %>' + $(this).val());
    } else {
      $('#repository_url').val(path);
    }
  });
});
</script>